# --- Geral (OS & IDEs) ---
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.factorypath
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Logs ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- Backend (Java/Maven) ---
backend/target/
backend/bin/
backend/src/main/resources/db.properties
backend/src/main/webapp/META-INF/MANIFEST.MF

# --- Frontend (Node/React/Vite) ---
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.eslintcache
